header {
	background-image: url(silver.jpg);
}

.topo {
	position: relative;
}

nav {
	position: absolute;
	bottom: 20px;
	left: 1030px;
	bottom: 120px;
}

nav a {
	text-transform: uppercase;
	text-shadow: 2px 2px black;
}

nav a:hover {
	color: orange;
}

h1 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: darkred;
	padding-top: 15px;
}

h2 {
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	color: red;
	padding-bottom: 15px;
}

h3 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: red;
	padding-top: 15px;
}

h4 {
	padding-left: 22px;
}

h5 {
	text-align: right;
	font-size: 40px;
	font-weight: bold;
	color: red;
	padding-bottom: 15px;
}	

.discos {
	width: 910px;
	margin: 0 auto;
	padding: 50px 0;
}

.discos li {
	display: inline-block;
	text-align: center;
	width: 40%;
	vertical-align: top;
	margin: 2% 2% 2% 2%;
	padding: 30px 30px;
	box-sizing: border-box;
	border: 5px solid black;
	border-radius: 15px;

}

.discos li:hover {
	border-color: orange;
}

.discos li:active {
	border-color: red;
}

footer {
	text-align: center;
	background: url(gray.jpg);
	padding: 40px 0;
}

.copyright {
	color: white;
	font-size: 15px;
	margin: 20px 0 0;
}