header {
	background-image: url(papel.jpg);
	position: relative;
	margin: 0 auto;
	width: 100%;
}

footer {
	text-align: center;
	background: url(gray.jpg);
	padding: 40px 0;
}

.copyright {
	color: white;
	font-size: 15px;
	margin: 20px 0 0;
}